<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <div class="buttons">
    <a href="{% url 'registro_paciente' %}" class="btn btn-primary">Registro paciente</a>
    <a href="{% url 'login_paciente' %}" class="btn btn-primary">Inicio de sesión pacientes</a>
    <a href="{% url 'login_medico' %}" class="btn btn-primary">Inicio de sesión médicos</a>
  </div>
</body>
</html>
