<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Paciente</title>
</head>
<body>
    {% csrf_token %}
    <h1>Detalles del Paciente</h1>
    
    {% for campo, valor in campos_paciente.items %}
        {% if campo != 'id' %}
            <p>{{ campo|title }}: {{ valor }}</p>
        {% endif %}
    {% endfor %}

</body>
</html>